#info {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  padding: 1.5em;
  color: white;
  text-shadow: 1px 1px black;
  border-radius: 1em;
}

.contrast #info button {
  border-color: black;
}

.contrast #info button:hover {
  background-color: rgb(80, 80, 80);
  color: white;
}

#info button {
  color: inherit;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  background: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  pointer-events: auto;
  text-shadow: 1px 1px black;
  font-weight: bold;
}

#info button:hover {
  background-color: rgb(180, 180, 180);
  color: black;
  text-shadow: none;
}

#info a {
  pointer-events: auto;
}
